[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
pillow = "*"
python-dotenv = "*"
waitress = "*"
beautifulsoup4 = "*"
paste = "*"
typer = "*"
requests = "*"

[dev-packages]
black = "*"
pyclean = "*"
isort = "*"

[requires]
python_version = "3.10"
