-i https://pypi.org/simple
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
blinker==1.8.2; python_version >= '3.8'
certifi==2024.6.2; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
colorama==0.4.6; platform_system == 'Windows'
flask==3.0.3; python_version >= '3.8'
flask-sqlalchemy==3.1.1; python_version >= '3.8'
flask-wtf==1.2.1; python_version >= '3.8'
greenlet==3.0.3; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
idna==3.7; python_version >= '3.5'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.4; python_version >= '3.7'
markupsafe==2.1.5; python_version >= '3.7'
pillow==10.3.0; python_version >= '3.8'
requests==2.32.3; python_version >= '3.8'
soupsieve==2.5; python_version >= '3.8'
sqlalchemy==2.0.30; python_version >= '3.7'
typing-extensions==4.12.1; python_version >= '3.8'
urllib3==2.2.1; python_version >= '3.8'
waitress==3.0.0; python_full_version >= '3.8.0'
werkzeug==3.0.3; python_version >= '3.8'
wtforms==3.1.2; python_version >= '3.8'
