{% extends "layout.html" %}
{% block body %}
<div>
    <div class="text-center">
        <div class="m-5">
            <h1>MMDB</h1>
            <p>MyMangaDataBase</p>
        </div>
        <div class="m-5">
            <p class="lead">A simple and strightforward database to keep track of all your mangas</p>
        </div>
    </div>
    <div>
        <table class="table table-dark table-striped align-middle">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Score</th>
                    <th scope="col">Volumes</th>
                    <th scope="col">Chapters</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="align-middle">
                    <td>Komi-san wa, Komyushō Desu</td>
                    <td>10</td>
                    <td>26</td>
                    <td>370</td>
                    <td>09-03-2021</td>
                    <td>-</td>
                    <td>Reading</td>
                </tr>
                <tr class="align-middle">
                    <td>Kaiju No. 8</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Plan to read</td>
                </tr>
                <tr class="align-middle">
                    <td>Choujin-X</td>
                    <td>-</td>
                    <td>1</td>
                    <td>1</td>
                    <td>01-12-2021</td>
                    <td>-</td>
                    <td>Oh hold</td>
                </tr>
                <tr class="align-middle">
                    <td>Tomo-chan wa Onnanoko!</td>
                    <td>9</td>
                    <td>8</td>
                    <td>953</td>
                    <td>26-11-2021</td>
                    <td>28-11-2021</td>
                    <td>Completed</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <p><b>Your list, Your control!</b></p>
        <p class="lead">Don't wait for someone to add manga to site's database, make your own database</p>
    </div>
</div>
{% endblock body %}