{% extends 'layout.html' %}
{% block body %}
<div class="d-flex justify-content-center">
    <ul class="fs-1">
        <li>Open Source Packages</li>
        <ul>
            <li>
                <a href="https://palletsprojects.com/p/flask/" target="_blank" rel="noopener noreferrer">
                    Flask

                </a>
            </li>
            <li>
                <a href="https://docs.pylonsproject.org/projects/waitress/en/stable/index.html" target="_blank"
                    rel="noopener noreferrer">
                    Waitress
                </a>
            </li>
            <li>
                <a href="https://flask-sqlalchemy.palletsprojects.com/en/3.0.x/" target="_blank"
                    rel="noopener noreferrer">
                    Flask-SQLAlchemy
                </a>
            </li>
            <li>
                <a href="https://github.com/wtforms/flask-wtf" target="_blank" rel="noopener noreferrer">
                    Flask-WTF
                </a>
            </li>
            <li>
                <a href="https://github.com/psf/requests" target="_blank" rel="noopener noreferrer">
                    Requests
                </a>
            </li>
            <li>
                <a href="https://python-pillow.org/" target="_blank" rel="noopener noreferrer">Pillow</a>
            </li>
        </ul>
        <li>APIs</li>
        <ul>
            <li><a href="https://otakugifs.xyz/" target="_blank" rel="noopener noreferrer">OtakuGIFs</a></li>
            <li><a href="https://jikan.moe/" target="_blank" rel="noopener noreferrer">Jikan</a></li>
        </ul>
    </ul>
</div>
{% endblock %}