{% extends "layout.html" %}
{% block body %}
<div>
    <div class="content-section mx-1">
        <form action="{{ url_for('main.importbackup') }}" method="post" enctype="multipart/form-data">
            <div class="card bg-dark border-white">
                <div class="card-body">
                    <h5 class="card-title">MMDB Import</h5>
                    <p class="card-text">Imports " MMDB-Backup-{Date}.zip " file</p>
                    <a href="#" class="btn btn-secondary">Submit</a>
                </div>
            </div>
        </form>
        <form action="{{ url_for('main.importbackup') }}" method="post" enctype="multipart/form-data">
            <div class="card bg-dark border-white mt-5">
                <div class="card-body">
                    <h5 class="card-title">MyAnimeList Import</h5>
                    <p class="card-text">Imports MyAnimeList " .xml " file</p>
                    <a href="#" class="btn btn-secondary">Submit</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}