{% extends "layout.html" %}
{% block body %}
<div>
    <div class="content-section mx-1">
        <form action="{{ url_for('main.importbackup') }}" method="post" enctype="multipart/form-data">
            <div class="card bg-dark border-white">
                <div class="card-body">
                    <h5 class="card-title">MMDB Import</h5>
                    <p class="card-text">Imports " MMDB-Backup-{Date}.zip " file</p>
                    <input class="form-control form-control-lg" id="formFileLg" name="file" type="file" , accept=".zip">
                    <input type="submit" class="mt-3">
                </div>
            </div>
        </form>
        <form action="{{ url_for('main.importbackup') }}" method="post" enctype="multipart/form-data">
            <div class="card bg-dark border-white mt-5">
                <div class="card-body">
                    <h5 class="card-title">MyAnimeList Import</h5>
                    <p class="card-text">
                        Imports MyAnimeList " .xml " file.
                        <br>
                        <br>
                        Follow the steps below before importing manga list from MyAnimeList -
                        <!--
                            We remove first line of xml file because it creates parsing (xml.etree.elementtree.parseerror) error.
                            According to https://stackoverflow.com/a/36020709 this error is because of "newline at the beginning of the XML string"
                            So we remove first line of xml file which removes this newline and then the parsing can be done without errors
                        -->
                    <ol>
                        <li>Extract .xml file from .gz file</li>
                        <li>Open .xml file</li>
                        <li>Delete the first line from xml file which is
                            <code>< ?xml version="1.0" encoding="UTF-8" ?></code>
                        </li>
                        <li>Save the file</li>
                        <li>Import it in MMDB</li>
                    </ol>
                    <b>NOTE:</b> Importing the file as is will give a server error and the file won't get imported
                    </p>
                    <input class="form-control form-control-lg" id="formFileLg" name="file" type="file" , accept=".xml">
                    <input type="submit" class="mt-3">
                </div>
            </div>
        </form>
        <form action="{{ url_for('main.importbackup') }}" method="post" enctype="multipart/form-data">
            <div class="card bg-dark border-white mt-5">
                <div class="card-body">
                    <h5 class="card-title">MangaUpdates Import</h5>
                    <p class="card-text">
                        Imports MangaUpdates " {status}_YY_MM_DD.txt " file
                        <br>
                        <br>
                        The {status} from MU file name will be applied to the imported manga from that list
                        <br>
                        <br>
                        <b>NOTE:</b> Doesn't supports custom lists
                    </p>
                    <input class="form-control form-control-lg" id="formFileLg" name="file" type="file" , accept=".txt">
                    <input type="submit" class="mt-3">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}