{% extends 'layout.html' %}
{% block body %}
<div class="text-center mt-5">
    <h1>
        <i class="bi bi-question-circle"></i>
        <a class="text-reset text-decoration-underline" href="https://edwinrodger.github.io/MyMangaDataBase/"
            target="_blank">
            About MMDB
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-file-person"></i>
        <a class="text-reset text-decoration-underline" href="https://edwinrodger.github.io" target="_blank">
            Author
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-code-square"></i>
        <a class="text-reset text-decoration-underline" href="https://github.com/EdwinRodger/MyMangaDataBase"
            target="_blank">
            Source Code
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-card-list"></i>
        <a class="text-reset text-decoration-underline"
            href="https://github.com/EdwinRodger/MyMangaDataBase/blob/main/.github/CHANGELOG.md" target="_blank">
            Changelog
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-bug"></i>
        <a class="text-reset text-decoration-underline"
            href="https://github.com/EdwinRodger/MyMangaDataBase/issues/new?assignees=&labels=Bug&template=bug_report.yml"
            target="_blank">
            Report A Bug
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-plus-square"></i>
        <a class="text-reset text-decoration-underline"
            href="https://github.com/EdwinRodger/MyMangaDataBase/issues/new?assignees=&labels=Feature+request&template=feature_request.yml"
            target="_blank">
            Request A Feature
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-star"></i>
        <a class="text-reset text-decoration-underline" href="https://github.com/EdwinRodger/MyMangaDataBase/stargazers"
            target="_blank">
            Star On Github
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-heart"></i>
        <a class="text-reset text-decoration-underline" href="https://alternativeto.net/software/mymangadatabase/about/"
            target="_blank">
            Like On AlternativeTo
        </a>
    </h1>
    <br>
    <h1>
        <i class="bi bi-text-center"></i>
        <a class="text-reset text-decoration-underline" href="{{ url_for('home.credits') }}">
            Credits
        </a>
    </h1>
    <br>
</div>
{% endblock %}