{% extends "layout.html" %}
{% block body %}
<div>
    <h1 class="text-center pt-3">Settings</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            <div class="container">
                <div class="row g-3">
                    <div class="col-md-12">
                        <label class="form-label">{{ form.theme.label }}</label>
                        {{ form.theme(class="form-control") }}
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">{{ form.enable_logging.label }}</label>
                        {{ form.enable_logging(class="form-control") }}
                        <p>Logging will change when you start server next time</p>
                    </div>
                    <div class="col-md-12 mt-0">
                        <label class="form-label">{{ form.truncate_title.label }}</label>
                        {{ form.truncate_title(class="form-control") }}
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">{{ form.layout.label }}</label>
                        {{ form.layout(class="form-control") }}
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">{{ form.mmdb_promotion.label }}</label>
                        {{ form.mmdb_promotion(class="form-control") }}
                    </div>
                    <!-- Updates Settings -->
                    <div class="btn-group form my-3" role="group">
                        {{ form.save(class="btn btn-outline-primary px-auto") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock body %}