{% extends "layout.html" %}
{% block body %}
<style>
    td {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="d-sm-none">
    <div>
        <div class="dropdown d-flex">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary dropdown-toggle ms-1 px-5" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Status
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{{ url_for('main.home') }}">All</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('mangas.sort_manga', status_value='Reading') }}">Reading</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('mangas.sort_manga', status_value='Completed') }}">Completed</a></li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('mangas.sort_manga', status_value='On hold') }}">On
                                Hold</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('mangas.sort_manga', status_value='Dropped') }}">Dropped</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('mangas.sort_manga', status_value='Plan to read') }}">Plan To
                                Read</a></li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('mangas.sort_manga', status_value='Rereading') }}">Rereading</a>
                        </li>
                    </ul>
                </div>
                {% if status_value %}
                <button type="button" class="btn btn-secondary" disabled>{{ status_value }}</button>
                {% else %}
                <button type="button" class="btn btn-secondary" disabled>All</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
<div class="d-none d-sm-block">
    <div class="btn-group d-flex px-1 my-3" role="group">
        <a type="button" class="btn btn-outline-primary border-white flex-grow-1 text-white text-decoration-none"
            href="{{ url_for('main.home') }}"><b>All</b></a>
        <a type="button" class="btn btn-outline-primary border-white flex-grow-1 text-white text-decoration-none"
            href="{{ url_for('mangas.sort_manga', status_value='Reading') }}"><b>Reading</b></a>
        <a type="button" class="btn btn-outline-primary border-white flex-grow-1 text-white text-decoration-none"
            href="{{ url_for('mangas.sort_manga', status_value='Completed') }}"><b>Completed</b></a>
        <a type="button" class="btn btn-outline-primary border-white flex-grow-1 text-white text-decoration-none"
            href="{{ url_for('mangas.sort_manga', status_value='On hold') }}"><b>On Hold</b></a>
        <a type="button" class="btn btn-outline-primary border-white flex-grow-1 text-white text-decoration-none"
            href="{{ url_for('mangas.sort_manga', status_value='Dropped') }}"><b>Dropped</b></a>
        <a type="button" class="btn btn-outline-primary border-white flex-grow-1 text-white text-decoration-none"
            href="{{ url_for('mangas.sort_manga', status_value='Plan to read') }}"><b>Plan To Read</b></a>
        <a type="button" class="btn btn-outline-primary border-white flex-grow-1 text-white text-decoration-none"
            href="{{ url_for('mangas.sort_manga', status_value='Rereading') }}"><b>Rereading</b></a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-dark table-striped align-middle">
        <thead>
            <!-- Searches the config file to see what columns to show -->
            {% for i in show %}
            {% if show[i] == "Yes" %}
            <th scope="col">
                {% if i.replace("show_", "").replace("_", " ").title() == "Title" %}
                <p class="ps-2">{{ i.replace("show_", "").replace("_", " ").title() }}</p>
                {% else %}
                <p class="text-center">{{ i.replace("show_", "").replace("_", " ").title() }}</p>
                {% endif %}
            </th>
            {% endif %}
            {% endfor %}
        </thead>
        <tbody>
            <tr class="align-middle">
                {% for manga in mangas %}
                <show-cover>
                    {% if show["show_cover"] == "Yes" %}
                    <!-- Hard coded cover to be a svg file instead of png file because of backwards compatibility -->
                    {% if manga.cover == "default.png" %}
                    <td class="text-center"><img src="{{ url_for('static', filename='manga_cover/default.svg') }}"
                            alt="Manga Cover" style="height: 13vh; max-width: 65px;"></td>
                    {% else %}
                    <td class="text-center"><img src="{{ url_for('static', filename='manga_cover/' + manga.cover) }}"
                            alt="Manga Cover" style="height: 13vh; max-width: 65px;"></td>
                    {% endif %}
                    {% endif %}
                </show-cover>
                <show-title>
                    <td><a href="{{ url_for('mangas.update_manga', manga_id=manga.id) }}"
                            class="text-decoration-none text-reset"><u>{{ manga.title }}</u></a></td>
                </show-title>
                <if-status-plan-to-read>
                    {% if manga.status == "Plan to read" %}
                    <show-score>
                        {% if show["show_score"] == "Yes" %}
                        <td class="text-center">-</td>
                        {% endif %}
                    </show-score>
                    <show-volume>
                        {% if show["show_volume"] == "Yes" %}
                        <td class="text-center">-</td>
                        {% endif %}
                    </show-volume>
                    <show-chapter>
                        {% if show["show_chapter"] == "Yes" %}
                        <td class="text-center">-</td>
                        {% endif %}
                    </show-chapter>
                    <show-start-date>
                        {% if show["show_start_date"] == "Yes" %}
                        <td class="text-center">-</td>
                        {% endif %}
                    </show-start-date>
                    <show-end-date>
                        {% if show["show_end_date"] == "Yes" %}
                        <td class="text-center">-</td>
                        {% endif %}
                    </show-end-date>
                    <show-status>
                        {% if show["show_status"] == "Yes" %}
                        <td class="text-center">{{ manga.status }}</td>
                        {% endif %}
                    </show-status>
                </if-status-plan-to-read>
                {% else %}
                <else-status-NOT-plan-to-read>
                    <show-score>
                        {% if show["show_score"] == "Yes" %}
                        <td class="text-center">{{ manga.score }}</td>
                        {% endif %}
                    </show-score>
                    <show-volume>
                        {% if show["show_volume"] == "Yes" %}
                        <td class="text-center"><a href="#" class="text-decoration-none text-reset"><u>{{ manga.volume
                                    }}</u></a></td>
                        {% endif %}
                    </show-volume>
                    <show-chapter>
                        {% if show["show_chapter"] == "Yes" %}
                        <td class="text-center"><a href="#" class="text-decoration-none text-reset"><u>{{ manga.chapter
                                    }}</u></a></td>
                        {% endif %}
                    </show-chapter>
                    <show-start-date>
                        {% if show["show_start_date"] == "Yes" %}
                        {% if manga.start_date == date %}
                        <td class="text-center">-</td>
                        {% else %}
                        <td class="text-center">{{ manga.start_date }}</td>
                        {% endif %}
                        {% endif %}
                    </show-start-date>
                    <show-end-date>
                        {% if show["show_end_date"] == "Yes" %}
                        {% if manga.end_date == date %}
                        <td class="text-center">-</td>
                        {% else %}
                        <td class="text-center">{{ manga.end_date }}</td>
                        {% endif %}
                        {% endif %}
                    </show-end-date>
                    <show-status>
                        {% if show["show_status"] == "Yes" %}
                        <td class="text-center">{{ manga.status }}</td>
                        {% endif %}
                    </show-status>
                    {% endif %}
                </else-status-NOT-plan-to-read>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}