{% extends "layout.html" %}
{% block body %}
<div>
    <div class="bg-dark px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Important !</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">For updatating metadata, MMDB scrapes mangaupdates.com for
                    its content. To not overload MU servers, there is a sleep of 2 to 5 seconds between requests and
                    according to how big your database is, it may take hours to complete whole task. You can see the
                    progress in your terminal. The things MMDB searches for are Cover, Description, Genre, Author and
                    Artist.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                        href="{{ url_for('mangas.update_metadata') }}">Continue</a>
                    <a class="btn btn-outline-secondary btn-lg px-4"
                        href="{{ url_for('main.page_selector') }}">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}