{% extends "layout.html" %}
{% block body %}
<div>
    <div class="content-section">
        <form action="" method="post" class="m-sm-5 p-sm-5 border border-opacity-25 rounded-4 p-2 mt-3">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend class="border-bottom mb-4">
                    {{ legend }}
                </legend>
                <div class="form mb-3">
                    {{ form.title.label(class="form-label") }}
                    {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form mb-3">
                    {{ form.start_date.label(class="form-label") }}
                    {% if form.start_date.errors %}
                    {{ form.start_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.start_date.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.start_date(class="form-control form-control-lg") }}
                    {% endif %}
                    <p class="text-muted">If you don't know Start Date, Enter 01-01-0001 in above field</p>
                </div>
                <div class="form mb-3">
                    {{ form.end_date.label(class="form-label") }}
                    {% if form.end_date.errors %}
                    {{ form.end_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.end_date.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.end_date(class="form-control form-control-lg") }}
                    {% endif %}
                    <p class="text-muted">If you don't know End Date, Enter 01-01-0001 in above field</p>
                </div>
                <div class="form mb-3">
                    {{ form.episode.label(class="form-label") }}
                    {% if form.episode.errors %}
                    {{ form.episode(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.episode.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.episode(class="form-control form-control-lg") }}
                    {% endif %}
                    <p class="text-muted">If you haven't started the anime or the anime doesn't have any episodes, enter
                        0
                        (zero) in above field</p>
                </div>
                <div class="form mb-3">
                    {{ form.score.label(class="form-label") }}
                    {% if form.score.errors %}
                    {{ form.score(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.score.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.score(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form mb-3">
                    {{ form.status.label(class="form-label") }}
                    {% if form.status.errors %}
                    {{ form.status(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.status.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.status(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <legend class="border-bottom my-4">
                    Optional
                </legend>
                <div class="md-12 mb-3">
                    <label class="form-label">{{ form.description.label }}</label>
                    {{ form.description(class="form-control", rows=7) }}
                </div>
                <div class="md-4 mb-3">
                    <label class="form-label">{{ form.tags.label }}</label>
                    {{ form.tags(class="form-control") }}
                    <p class="text-muted">Seprate tags by using a comma (,)</p>
                </div>
                <div class="md-12 mb-3">
                    <label class="form-label">{{ form.notes.label }}</label>
                    {{ form.notes(class="form-control", rows=7) }}
                </div>
            </fieldset>
            <div class="form mb-3 mt-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
{% endblock body %}