{% extends "layout.html" %}
{% block body %}
<div>
    <legend class="p-3">
        {{ legend }}
        <hr>
    </legend>
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        <div class="d-sm-flex justify-content-center mt-5">
            <div class="img-fluid text-center">
                <img src="{{url_for('static', filename='anime_cover/' + anime.cover)}}" alt="Anime Cover"
                    style="width: 250px;">
            </div>
        </div>
        <div>
            <div class="px-3">
                <div class="row g-3">
                    <div class="col-md-12">
                        <label class="form-label">{{ form.title.label }}</label>
                        {% if form.title.errors %}
                        {{ form.title(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.title(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.start_date.label }}</label>
                        {% if form.start_date.errors %}
                        {{ form.start_date(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_date.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.start_date(class="form-control") }}
                        {% endif %}
                        <p class="text-muted">If you don't know Start Date, Enter 01-01-0001 in above field.</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.end_date.label }}</label>
                        {% if form.end_date.errors %}
                        {{ form.end_date(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.end_date.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.end_date(class="form-control") }}
                        {% endif %}
                        <p class="text-muted">If you don't know End Date, Enter 01-01-0001 in above field</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.episode.label }}</label>
                        {% if form.episode.errors %}
                        {{ form.episode(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.episode.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.episode(class="form-control") }}
                        {% endif %}
                        <p class="text-muted">If you haven't started the anime or the anime doesn't have any episodes,
                            enter 0 (zero) in above field</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.score.label }}</label>
                        {{ form.score(class="form-control") }}
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">{{ form.status.label }}</label>
                        {{ form.status(class="form-control") }}
                    </div>
                    <legend class="border-bottom my-4">
                        Optional
                    </legend>
                    <div class="col-md-12">
                        <label class="form-label">{{ form.description.label }}</label>
                        {{ form.description(class="form-control", rows=7) }}
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">{{ form.tags.label }}</label>
                        {{ form.tags(class="form-control") }}
                        <p class="text-muted">Seprate tags by using a comma (,)</p>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">{{ form.notes.label }}</label>
                        {{ form.notes(class="form-control", rows=7) }}
                    </div>
                    <div class="md-12 mb-3">
                        <label class="form-label">{{ form.cover.label }}</label>
                        {{ form.cover(class="form-control") }}
                        {% if form.cover.errors %}
                        {% for error in form.cover.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="btn-group form my-3" role="group">
                        <!-- Updates Anime -->
                        {{ form.update(class="btn btn-primary px-auto") }}
                        <!-- Return to home page -->
                        <a href="{{ url_for('home.homepage') }}" class="btn btn-secondary">Go Home</a>
                        <!-- Deletes Anime -->
                        <button type="button" class="btn btn-danger px-auto" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Anime?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to delete this anime?
                </div>
                <div class="modal-footer">
                    <!-- Cancel deleteing anime -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nah, my
                        mistake!</button>
                    <!-- Delete Anime -->
                    <form action="{{ url_for('anime.delete_anime', anime_id=anime.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Yes, Obliterate it!">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}