{% extends 'layout.html' %}
{% block secondHeader %}
<!-- Secondary Header -->
<div>
    <header class="d-flex py-3">
        <!-- List Functions -->
        <ul class="nav nav-pills me-auto ms-2">
            <li class="nav-item"><a href="{{ url_for('manga.add_manga') }}" class="nav-link"><i class="bi bi-book"></i>
                    Add Manga</a></li>
            <li class="nav-item"><a href="{{ url_for('manga.import_manga') }}" class="nav-link"><i
                        class="bi bi-database-down"></i> Import</a></li>
            <li class="nav-item"><a href="{{ url_for('manga.export') }}" class="nav-link"><i
                        class="bi bi-database-up"></i> Export</a></li>
        </ul>
        <!-- Sort Functions -->
        <ul class="nav nav-pills mx-auto">
            {% if sort_function == "All" %}
            <li class="nav-item"><a href="{{ url_for('manga.manga_list') }}" class="nav-link active"
                    aria-current="page">All</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.manga_list') }}" class="nav-link">All</a></li>
            {% endif %}
            {% if sort_function == "Reading" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Reading') }}"
                    class="nav-link active" aria-current="page">Reading</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Reading') }}"
                    class="nav-link">Reading</a></li>
            {% endif %}
            {% if sort_function == "Completed" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Completed') }}"
                    class="nav-link active" aria-current="page">Completed</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Completed') }}"
                    class="nav-link">Completed</a></li>
            {% endif %}
            {% if sort_function == "On hold" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'On hold') }}"
                    class="nav-link active" aria-current="page">On Hold</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'On hold') }}"
                    class="nav-link">On Hold</a></li>
            {% endif %}
            {% if sort_function == "Dropped" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Dropped') }}"
                    class="nav-link active" aria-current="page">Dropped</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Dropped') }}"
                    class="nav-link">Dropped</a></li>
            {% endif %}
            {% if sort_function == "Plan to read" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Plan to read') }}"
                    class="nav-link active" aria-current="page">Plan To Read</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Plan to read') }}"
                    class="nav-link">Plan To Read</a></li>
            {% endif %}
        </ul>
        <!-- Search Bar -->
        <form method="POST" action="{{ url_for('manga.search_manga')}}" class="d-flex ms-auto me-2">
            {{ manga_navsearch.hidden_tag() }}
            {{ manga_navsearch.search_field(class="form-control mx-1", placeholder=manga_title) }}
            {{ manga_navsearch.search_button(class="btn btn-outline-primary") }}
        </form>
    </header>
</div>
{% endblock %}

<!-- Flash messages go here which comes from layout.html -->

{% block body %}
<!-- Cards -->
{% if settings["layout"] == "Card" %}
<div class="row row-cols-1 g-4 ms-5 me-5 justify-content-center">
    {% for manga in manga_list %}
    <div class="card p-0 ms-3 h-50" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='manga_cover/' + manga.cover) }}"
                    class="img-fluid rounded-start" alt="Anime Cover">
            </div>
            <div class="col-md-8">
                <div class="card-body pb-0">
                    {% if truncate_title == "Yes" %}
                    <h5 class="card-title text-truncate"><a class="text-decoration-underline text-reset"
                            href="{{ url_for('manga.edit_manga', manga_id=manga.id) }}">
                            {{ manga.title }}
                        </a></h5>
                    {% else %}
                    <h5 class="card-title"><a class="text-decoration-underline text-reset"
                            href="{{ url_for('manga.edit_manga', manga_id=manga.id) }}">
                            {{ manga.title }}
                        </a></h5>
                    {% endif %}
                    <p class="card-text">
                        Score: {{ manga.score }}
                    </p>
                    <div class="d-flex">
                        <p class="card-text">
                            Volumes:
                            <a href="{{ url_for('manga.add_one_volume', manga_id=manga.id) }}"
                                class="text-decoration-underline text-reset">
                                {{ manga.volume }}
                            </a>
                        </p>
                        &emsp;
                        <p class="card-text">
                            Chapters:
                            <a href="{{ url_for('manga.add_one_chapter', manga_id=manga.id) }}"
                                class="text-decoration-underline text-reset">
                                {{ manga.chapter }}
                            </a>
                        </p>
                    </div>
                    <p class="card-text">
                        Start Date:
                        {% if manga.start_date == "0001-01-01" %}
                        -
                        {% else %}
                        {{ manga.start_date }}
                        {% endif %}
                    </p>
                    <p class="card-text">
                        End Date:
                        {% if manga.end_date == "0001-01-01" %}
                        -
                        {% else %}
                        {{ manga.end_date }}
                        {% endif %}
                    </p>
                    <p class="card-text">Status: {{ manga.status }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        {% for manga in manga_list %}
        <div class="col my-2">
            <div class="card p-0 text-bg-dark" style="max-width: 540px; overflow: hidden;">
                <img src="{{ url_for('static', filename='manga_cover/' + manga.cover) }}" class="img-fluid row-md-4"
                    alt="Anime Cover" style="filter:blur(5px); -webkit-filter:blur(5px);">
                <div class="card-img-overlay" style="background-color: rgba(0,0,0, 0.4);">
                    <div class="card-body pb-0">
                        {% if truncate_title == "Yes" %}
                        <h5 class="card-title text-truncate"><a class="text-decoration-underline text-reset"
                                href="{{ url_for('manga.edit_manga', manga_id=manga.id) }}">
                                {{ manga.title }}
                            </a></h5>
                        {% else %}
                        <h5 class="card-title"><a class="text-decoration-underline text-reset"
                                href="{{ url_for('manga.edit_manga', manga_id=manga.id) }}">
                                {{ manga.title }}
                            </a></h5>
                        {% endif %}
                        <p class="card-text">
                            Score: {{ manga.score }}
                        </p>
                        <div class="d-flex">
                            <p class="card-text">
                                Volumes:
                                <a href="{{ url_for('manga.add_one_volume', manga_id=manga.id) }}"
                                    class="text-decoration-underline text-reset">
                                    {{ manga.volume }}
                                </a>
                            </p>
                            &emsp;
                            <p class="card-text">
                                Chapters:
                                <a href="{{ url_for('manga.add_one_chapter', manga_id=manga.id) }}"
                                    class="text-decoration-underline text-reset">
                                    {{ manga.chapter }}
                                </a>
                            </p>
                        </div>
                        <p class="card-text">
                            Start Date:
                            {% if manga.start_date == "0001-01-01" %}
                            -
                            {% else %}
                            {{ manga.start_date }}
                            {% endif %}
                        </p>
                        <p class="card-text">
                            End Date:
                            {% if manga.end_date == "0001-01-01" %}
                            -
                            {% else %}
                            {{ manga.end_date }}
                            {% endif %}
                        </p>
                        <p class="card-text">Status: {{ manga.status }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock body %}