{% extends 'layout.html' %}
{% block body %}
<!-- Secondary Header -->
<div>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-database-down"></i> Import</a></li>
                <li class="nav-item"><a href="{{ url_for('manga.add_manga') }}" class="nav-link"><i
                            class="bi bi-book"></i> Add Manga</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><i class="bi bi-database-up"></i> Export</a></li>
            </ul>
        </header>
    </div>
</div>

<!-- Sorting Options -->
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            {% if sort_function == "All" %}
            <li class="nav-item"><a href="{{ url_for('manga.manga_list') }}" class="nav-link active"
                    aria-current="page">All</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.manga_list') }}" class="nav-link">All</a></li>
            {% endif %}
            {% if sort_function == "Reading" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Reading') }}"
                    class="nav-link active" aria-current="page">Reading</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Reading') }}"
                    class="nav-link">Reading</a></li>
            {% endif %}
            {% if sort_function == "Completed" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Completed') }}"
                    class="nav-link active" aria-current="page">Completed</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Completed') }}"
                    class="nav-link">Completed</a></li>
            {% endif %}
            {% if sort_function == "On hold" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'On hold') }}"
                    class="nav-link active" aria-current="page">On Hold</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'On hold') }}"
                    class="nav-link">On Hold</a></li>
            {% endif %}
            {% if sort_function == "Dropped" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Dropped') }}"
                    class="nav-link active" aria-current="page">Dropped</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Dropped') }}"
                    class="nav-link">Dropped</a></li>
            {% endif %}
            {% if sort_function == "Plan to read" %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Plan to read') }}"
                    class="nav-link active" aria-current="page">Plan To Read</a></li>
            {% else %}
            <li class="nav-item"><a href="{{ url_for('manga.sort_manga', sort_function = 'Plan to read') }}"
                    class="nav-link">Plan To Read</a></li>
            {% endif %}
        </ul>
    </header>
</div>

<!-- Table -->
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle mt-4">
        <thead>
            <tr class="text-center">
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Score</th>
                <th scope="col">Volume</th>
                <th scope="col">Chapter</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for manga in manga_list %}
            <tr class="text-center">
                <cover>
                    <td>
                        <img src="{{ url_for('static', filename='manga_cover/' + manga.cover) }}" alt="Manga Cover"
                            style="height: 13vh; max-width: 65px;">
                    </td>
                </cover>
                <td>{{ manga.title }}</td>
                <td>{{ manga.score }}</td>
                <td>{{ manga.volume }}</td>
                <td>{{ manga.chapter }}</td>
                <td>{{ manga.start_date }}</td>
                <td>{{ manga.end_date }}</td>
                <td>{{ manga.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}