{% extends "layout.html" %}
{% block body %}
<div class="d-flex justify-content-center mt-5 mb-5">
    {% if url %}
    <img src="{{ url }}" alt="404 Not Found GIF" class="img-fluid">
    {% else %}
    <img src="{{ url_for('static', filename='error_assests/404 not found.jpg') }}" alt="404 Not Found JPG"
        class="img-fluid">
    {% endif %}
</div>
<div>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="fs-1">Oops. Page Not Found (404)</p>
            <p>Check the URL properly... BAKA!</p>
        </blockquote>
    </figure>
</div>
{% endblock body %}